/**
 * -----------------------------------------------------------------------------
 * $ERROR404
 * -----------------------------------------------------------------------------
 */

.error404section {
    min-height: 50vh;
    text-align: center;
    padding: 10px;
}

.error404background {
    background-color: #ee4266;
    height: 100%;
}

.error404image {
    padding: 10px;
    width: 25%;
}


