/**
 * -----------------------------------------------------------------------------
 * $ERROR404
 * -----------------------------------------------------------------------------
 */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.error404section {
    text-align: center;
    background-color: #ee4266;
    font-family: 'Press Start 2P', cursive;
    }

.error404image {
    padding: 10px;
    width: 25%;
}

p a:hover {
    color: #14213d;
}



