/**
 * -----------------------------------------------------------------------------
 * $ERROR404
 * -----------------------------------------------------------------------------
 */


.error404section {
    text-align: center;
    background-color: #ee4266;
}

.error404image {
    padding: 10px;
    width: 25%;
}

p a:hover {
    color: #14213d;
}
