/**
 * -----------------------------------------------------------------------------
 * $FOOTER
 * -----------------------------------------------------------------------------
 */

footer {
    padding: 20px;
    background-color: $color-primary;
    text-align: center;
}
