/**
 * -----------------------------------------------------------------------------
 * $HEADER
 * -----------------------------------------------------------------------------
 */

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);

    ul {
        text-align: right;
        padding-left: 0px;
        margin: 0px;
    }

    li {
        list-style-type: none;
        text-align: center;
        display: inline-block; 
        padding: 10px;
    }   
}


header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    padding: 16px 0;   
    transition: 0.4s color ease; 

    &:hover {
        color: rgba(0, 0, 0, 1);
    }
}


header a:visited {
    color: rgba(0, 0, 0, 0.5);
}
 