/**
 * -----------------------------------------------------------------------------
 * $HEADER
 * -----------------------------------------------------------------------------
 */

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #409;
    width: 100%;
    color: white;
}

header ul {
    text-align: center;
    padding-left: 0px;
    margin: 0px;
}

header li {
    list-style-type: none;
    text-align: center;
    display: inline-block; 
}

header a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    padding: 16px 0;    
}

header li:hover {
    background-color: #375;
}

header a:visited {
    color: white;
}


@media screen and (min-width: 768px) {
    header ul {
        display: flex;
    }

    header li {
        flex: 1 1 0;
    }
}
