/**
 * -----------------------------------------------------------------------------
 * $HEADER
 * -----------------------------------------------------------------------------
 */

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    height: $header-height;
    padding: $spacing-large;

    ul {
        text-align: right;
        padding-left: 0px;
        margin: 0px;
    }

    li {
        margin-left: $spacing-large;
        list-style-type: none;
        text-align: center;
        display: inline-block;
        font-weight: bold;
    }
}


header a {
    color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    transition: 0.4s color ease;

    &:hover {
        color: rgba(0, 0, 0, 1);
    }
}
