/**
 * -----------------------------------------------------------------------------
 * $FACTS
 * -----------------------------------------------------------------------------
 */

.fact {
    padding: 20px;
    min-height: 50vh;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__icon {
        max-width: 150px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    &:nth-of-type(even) {

    }

    &--full {
        height:100vh;
    }
}
