/**
 * -----------------------------------------------------------------------------
 * $ANIMATE
 * -----------------------------------------------------------------------------
 */


.animate {
    animation-duration: 3s;
    animation-iteration-count: infinite;

    &--down {
        animation-name: down;
    }
}

@keyframes down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}
