/**
 * -----------------------------------------------------------------------------
 * $SIZE
 * -----------------------------------------------------------------------------
 */

.height {
    &--full { height: 100vh; }
}

.max-width {
    &--20 { max-width: 20px; }
    &--50 { max-width: 50px; }
    &--100 { max-width: 100px; }
    &--150 { max-width: 150px; }
    &--200 { max-width: 200px; }
    &--500 { max-width: 500px; }
}

.width {
    &--half { @include bp-min-width($bp-tablet) {
        float: left;
        width: 50%;
    } }

    &--third { @include bp-min-width($bp-tablet) {
        float: left;
        width: 33.3333%;
    } }
}
