/**
 * -----------------------------------------------------------------------------
 * $VARS
 * -----------------------------------------------------------------------------
 */

$bp-tablet: 768px;

$color-purple: #440099;
$color-white: white;
