/**
 * -----------------------------------------------------------------------------
 * $VARS
 * -----------------------------------------------------------------------------
 */

$bp-mobile: 640px;
$bp-tablet: 1024px;
$bp-desktop: 1400px;
$bp-desktop-large: 1920px;
$bp-4k: 2560px;

$color-black: #212121;
$color-purple: #440099;
$color-white: white;

$header-height: 60px;
