/**
 * -----------------------------------------------------------------------------
 * $VARS
 * -----------------------------------------------------------------------------
 */

$bp-mobile: 640px;
$bp-tablet: 1024px;
$bp-desktop: 1400px;
$bp-desktop-large: 1920px;
$bp-4k: 2560px;

$color-black: #0F0E11;
$color-primary: #14213D;
$color-secondary: #2A1E5C;
$color-tertiary: #EE4266;
$color-white: #FFFFFA;

$header-height: 59px;


/* SPACING UNITS */

$spacing-normal: 10px;

$spacing-tiny: $spacing-normal/4;
$spacing-small: $spacing-normal/2;
$spacing-large: $spacing-normal*2;
$spacing-huge: $spacing-normal*4;
